{% extends "_base.html" %}
{% load static %}

{% block title %}ورود به سیستم{% endblock title %}


{% block content%}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 bg-white p-4 rounded-4 shadow-lg animate__fadeIn">
        <form id="loginForm" method="post" novalidate>
            <h1 class="text-center mb-4 fw-bold text-primary">ورود به سیستم</h1>
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="emailAddress" class="form-label fw-medium">ایمیل:</label>
                <input type="email" class="form-control" id="emailAddress" name="email" placeholder="example@gmail.com" required>
                <div class="invalid-feedback">لطفاً یک ایمیل معتبر وارد کنید.</div>
            </div>
            <div class="form-group mb-3 position-relative">
                <label for="password" class="form-label fw-medium">رمز عبور:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="رمز عبور خود را وارد کنید" required>
                <i class="fas fa-eye toggle-password position-absolute" style="left: 10px; top: 70%; cursor: pointer;"></i>
                <div class="invalid-feedback">لطفاً رمز عبور خود را وارد کنید。</div>
            </div>
            <div class="d-flex justify-content-end mb-3">
                <a href="#" class="text-decoration-none text-primary fw-medium">فراموشی رمز عبور؟</a>
            </div>
            <button type="submit" class="btn btn-success w-100 mb-3" id="submitButton">
                <span class="button-text">ورود</span>
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            </button>
            <div class="line-with-middle-sep text-center my-3">
                <span class="bg-white px-2">یا</span>
            </div>
            <a href="/register" class="btn btn-outline-primary w-100">ثبت نام</a>
        </form>
    </div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock script %}